@media screen
{
    .site-content a:link
    {
      color: #0b74b8;
    }
    .site-content a:visited
    {
      color: #36aade;
    }
    .site-content a:hover,
    .site-content a:focus
    {
      color: #f5662e;
    }
    .site-content a:active
    {
      color: #900000;
    }

    .infoboxes
    {
        background-color: #eee;
        padding: 1em;
        margin-bottom: 1em;
    }

    .infobox
    {
        text-align: center;
        background-color: white;
        padding: 1em;
        margin: 1em;
    }
    
    .kundenstimme {
      background-color: #eee;
      padding: 1em;
      margin: 0 0 1em 0;
      text-align: center;
      border-left: 8px solid #0b74b8;
      border-radius: 4px 40px 4px 4px;
      box-shadow: 10px 10px 10px rgba(33, 35, 44, 0.2);
      background-image: linear-gradient(-25deg,rgb(217, 231, 250), rgb(253, 250, 230) 40%, rgb(255, 255, 248));
    }
}