@media screen
{
    .site-content a:link
    {
      color: #0b74b8;
    }
    .site-content a:visited
    {
      color: #36aade;
    }
    .site-content a:hover,
    .site-content a:focus
    {
      color: #f5662e;
    }
    .site-content a:active
    {
      color: #900000;
    }

    .site-content a[href^="http"]::after /* Puts an ⧉ after http links */
    {
      content: " \29C9";
    }

    .infoboxes
    {
        background-color: #eee;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .infobox
    {
        display: flex;
        flex-flow: column;
        text-align: center;
        background-color: white;
        padding: 1rem;
        margin: 1rem 0;
    }

    .infobox a:last-child
    {
      margin-top: auto;
    }

    @media screen and (min-width: 768px)
    {
      .infoboxes > .wrapper
      {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
      }
    }

    .kundenstimme 
    {
      background-color: #eee;
      padding: 1em;
      margin: 0 0 1em 0;
      text-align: center;
      border-left: 8px solid #0b74b8;
      box-shadow: 10px 10px 10px rgba(33, 35, 44, 0.2);
    }

    .news h3
    {
      padding-top: 0.5rem;
      border-top: 1px solid #eee;
      margin-bottom: 0.25rem;
    }

    .beitragsliste h3
    {
      color: #333;
    }

    .beitragsliste .article
    {
      margin-bottom: 4rem;
    }

    .beitragsinfo
    {
      color: #999;
    }

    .kontaktdaten 
    {
      background-color: #eee;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    .image-right
    {
      float: right;
    }

    figcaption
    {
      text-align: center;
      font-size: 80%;
      font-style: italic;
    }

    .flow-root-fix
    {
        display: flow-root;
    }

    .members
    {
      list-style: none;
      padding: 0;
      margin: 0 0 2rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1rem;
    }

    .member
    {
      text-align-last: center;
      border: 1px solid #999;
      padding: 0.5rem;
    }

    .member h4
    {
      background: #0b74b8;
      color: #fff;
      line-height: 1;
      padding: 1rem;
      margin: -0.5rem -0.5rem 2rem -0.5rem;
    }

    .member > span.fas
    {
      display: block;
      color: #999;
      margin-bottom: 1rem;
    }
}