@media screen
{
    .site-content a:link
    {
      color: #0b74b8;
    }
    .site-content a:visited
    {
      color: #36aade;
    }
    .site-content a:hover,
    .site-content a:focus
    {
      color: #f5662e;
    }
    .site-content a:active
    {
      color: #900000;
    }

    .site-content a[href^="http"]::after /* Puts an ⧉ after http links */
    {
      content: " \29C9";
    }

    .infoboxes
    {
        background-color: #eee;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .infobox
    {
        text-align: center;
        background-color: white;
        padding: 1rem;
        margin: 1rem 0;
    }

    .kundenstimme 
    {
      background-color: #eee;
      padding: 1em;
      margin: 0 0 1em 0;
      text-align: center;
      border-left: 8px solid #0b74b8;
      box-shadow: 10px 10px 10px rgba(33, 35, 44, 0.2);
    }

    .kontaktdaten 
    {
      background-color: #eee;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    .image-right
    {
      float: right;
    }

    figcaption
    {
      text-align: center;
      font-size: 80%;
      font-style: italic;
    }

    .flow-root-fix
    {
        display: flow-root;
    }

}