@media screen
{
    form > div
    {
        display: flex; 
        flex-flow: wrap;        
        margin-bottom: 1em;   
   }

    label
    {
        flex: 0 0 10rem;
        display: block;
        cursor: pointer;
    } 
    
    .kontaktformular input[type="text"],
    .kontaktformular input[type="email"],
    .kontaktformular textarea
    {
        flex: 1;
        padding: 0.25rem;
        border: 2px solid #ddd;
        border-radius: 0.25rem;
    }

    .kontaktformular textarea
    {
        min-height: 8rem;
    }

    .kontaktformular button {
        flex: 1;
        font-family: inherit;
        font-size: inherit;
        letter-spacing: 1px;
        color: white;
        padding: 0.25rem;
        border: none;
        background-color: #0b74b8;
        border-radius: 0.25rem;
    }

    .kontaktformular button:focus,
    .kontaktformular button:hover
    {
        background-color: #f5662e;
    }

    .kontaktformular button:active
    {
        background-color: #900000;
    }
}