@media screen
{
  body
  {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    background-color: white;
    margin: 0;
    min-height: 100vh; 
    display: flex; 
    flex-flow: column; 
  }

  .wrapper
  {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .site-header
  {
    margin-bottom: 0;
    padding-top: 1rem;
  }
  .site-logo
  {
    margin-bottom: 0;
  }

  .site-slogan
  {
    margin: 0;
  }

  .site-content
  {
    line-height: 1.5;
  }

  @media screen and (min-width: 768px)
  {
    .news .site-content .wrapper
    {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "intro intro"
        "col1 col2";
      grid-column-gap: 3rem;
    }

    .news .site-content .content-intro
    {
      grid-area: intro;
    }
  }

  .site-footer
  {
    background-color: #333;
    padding: 0.3em 0;
    font-size: smaller;
    margin-top: auto;
}

  .site-footer a
  {
    color:white;
    text-decoration: none;
    padding: 1rem 0;
  }
}