@media screen
{
  body
  {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    background-color: white;
    margin: 0;
  }

  .wrapper
  {
    min-width: 320px;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .site-header
  {
    margin-bottom: 0;
    padding-top: 1rem;
  }
  .site-logo
  {
    margin-bottom: 0;
  }

  .site-slogan
  {
    margin: 0;
  }

  .site-content
  {
    line-height: 1.5;
  }

  .site-footer
  {
    background-color: #333;
    padding: 0.3em 0;
    font-size: smaller;
}

  .site-footer a
  {
    color:white;
    text-decoration: none;
    padding: 1rem 0;
    margin-top: 2rem;
  }
}