@media screen
{
    .site-nav
    {
        padding: 0;
        margin: 1rem 0;
    }

    .site-nav-list
    {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .site-nav-list li
    {
      list-style: none;
    }

    .site-nav-list a
    {
        display: block;
        min-width: 72px;
        text-align: center;
        padding: 0.5rem;
        text-decoration: none;
        color:white;
        background-color: #333;
   }

   .site-nav-list a.sie-sind-hier
    {
        background-color: #666;
    }

    .site-nav-list a:hover,
    .site-nav-list a:focus
    {
        background-color: #666;
    }

    .site-nav-list a:active
    {
        background-color: #0b74b8;
    }
}