@media screen
{
    .site-nav
    {
        position: sticky;
        top: 0;
        background-color: #333;
        padding: 0 1rem;
        margin: 1rem 0;
        box-shadow: 0 2px 6px rgba(50, 50, 50, 0.3)
    }

    .site-nav-list
    {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .site-nav-list li
    {
      list-style: none;
      max-width: 170px;
    }

    .site-nav-list a
    {
        display: block;
        min-width: 72px;
        text-align: center;
        padding: 0.5rem 0.25rem;
        text-decoration: none;
        color:white;
        background-color: #333;
   }

   .site-nav-list a.sie-sind-hier
    {
        background-color: #666;
    }

    .site-nav-list a:hover,
    .site-nav-list a:focus
    {
        background-color: #666;
    }

    .site-nav-list a:active
    {
        background-color: #0b74b8;
    }
}